# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:54329/db-boilerplate-eprisma-ts?schema=public"
REDIS_URL=redis://localhost:63799

API_VERSION=api/v1
API_PORT=4003

LOG_DIR=./logs

ENCRYPTION_KEY=sdfsdfsd345jbjbefjsh345hj34g5hjg

JWT_SECRET=ca15ea787cbba167897603f9c0ec7b96
JWT_EXPIRES_IN=7d